body {
	width: 100%;
	background-color: black;
	background-image: url(/images/sand_dunes.png);
	background-attachment: fixed;
	font-family: sans-serif;
}

img {
}

a {
}

#moon {
	position: absolute;
	top: 20px;
	left: 40px;
}

#page {
	margin: 180px 100px;
}

#menu {
	height: 40px;
	background-color: white;
}

#menu > .item {
	float: left;
	margin: 10px 40px;
}

#menu > .item > a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

#menu > span.item > a:hover {
	font-weight: bold;
	text-decoration: none;
	border-top: 5px solid black;
}

#content {
	clear: both;
	padding: 1em;
	color: black;
	background-color: white;
}

#content h1 {
}

#content h2 {
}

#content h3 {
}

#content p {
}

#content blockquote {
	padding: 1em;
	background-color: #c3c3c3;
	font-style: italic;
}

#content pre {
	color: white;
	background-color: black;
	padding: 0.5em 1em;
}

#content ul,ol {
	list-style: square;
}

#content a {
	color: black;
	text-decoration: none;
}

#content a:hover {
	color: white;
	background-color: black;
}
