body {
	background-color: black;
	background-image: url(/images/sand_dunes.png);
	background-attachment: fixed;
	font-family: sans-serif;
}

#moon {
	position: fixed;
	top: 20px;
	left: 25px;
	z-index: -1;
}

#page {
	width: 800px;
	margin: 180px auto;
	padding: 10px;
	color: black;
	background-color: white;
}

#page a {
	color: black;
	text-decoration: none;
}

#content {
	float: left;
	margin: 20px 35px;
}

#content h1 {
}

#content h2 {
}

#content h3 {
}

#content p {
}

#content blockquote {
	padding: 1em;
	background-color: #c3c3c3;
	font-style: italic;
}

#content pre {
	color: white;
	background-color: black;
	padding: 0.5em 1em;
}

#content ul,ol {
	list-style: square;
}

#content a {
	text-decoration: underline;
}

#content a:hover {
	color: white;
	background-color: black;
}

#sidebar {
	border-left: 5px solid black;
}

#menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu > li {
	float: left;
	width: 25%;
	color: white;
	text-align: center;
	font-size: 200%;
	background-color: black;
}

#menu > li > a {
	color: white;
}

#menu > li > a:hover {
}

#footer {
	clear: both;
	padding: 10px;
	color: gray;
	background-color: black;
	font-size: x-small;
}
