body {
	background-color: black;
	background-image: url(/images/sand_dunes.png);
	background-attachment: fixed;
	font-family: sans-serif;
}

#moon {
	position: absolute;
	top: 20px;
	left: 40px;
}

#page {
	width: 800px;
	margin: 180px auto;
	padding: 10px;
	color: black;
	background-color: white;
}

#page a {
	color: black;
	text-decoration: none;
}

#content {
	float: left;
	padding: 10px 1em;
}

#content h1 {
}

#content h2 {
}

#content h3 {
}

#content p {
}

#content blockquote {
	padding: 1em;
	background-color: #c3c3c3;
	font-style: italic;
}

#content pre {
	color: white;
	background-color: black;
	padding: 0.5em 1em;
}

#content ul,ol {
	list-style: square;
}

#content a:hover {
	color: white;
	background-color: black;
}

#sidebar {
	border-left: 2px solid black;
}

#menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu > li {
	height: 20px;
	margin: 10px;
	font-size: 120%;
	font-weight: bold;
}

#menu > li > a {
	padding-left: 10px;
	border-left: 20px solid white;
}

#menu > li > a:hover {
	border-left: 20px solid black;
}
