---
layout: default
css:
 - projects
---

<h1>Projects</h1>
<hr />

{% for project in site.projects %}
<div class="project span-11">
  {% if project.website != null %}
  <h2><a href="{{ project.website }}">{{ project.name }}</a></h2>
  {% else if project.source != null %}
  <h2><a href="{{ project.source }}">{{ project.name }}</a></h2>
  {% endif %}

  {% if project.status != null %}
  <img class="badge" src="/images/{{ project.status }}_badge.png" />
  {% endif %}

  <ol class="links">
    {% if project.website != null %}
    <li><a href="{{ project.website }}">website</a></li>
    {% endif %}

    {% if project.source != null %}
    <li><a href="{{ project.source }}">source</a></li>
    {% endif %}

    {% if project.mailinglist != null %}
    <li><a href="{{ project.mailinglist }}">mailinglist</a></li>
    {% endif %}

    {% if project.chatroom != null %}
    <li><a href="{{ project.chatroom }}">chatroom</a></li>
    {% endif %}
  </ol>
</div>
{% endfor %}
