<p>
Postmodern is a Software Engineer by day, Security Researcher by night.
Develops in Ruby primary, as well as JavaScript, Java, C/C++, ASM, Bash, XSL.

Prefers
<a href="http://datamapper.org/">DataMapper</a>,
<a href="http://sinatrarb.com/">Sinatra</a>,
<a href="https://github.com/ffi/ffi#readme">FFI</a>
and <a href="http://yardoc.org/">YARD</a>.

Created
<a href="http://ronin-ruby.github.com/">Ronin</a>,
<a href="http://spidr.rubyforge.org/">Spidr</a>,
<a href="http://github.com/postmodern/gscraper#readme">GScraper</a>,
<a href="http://github.com/postmodern/raingrams#readme/">Raingrams</a>,
<a href="https://github.com/sophsec/ruby-nmap#readme">ruby-nmap</a>,
<a href="https://github.com/postmodern/rubygems-tasks#readme">rubygems-tasks</a>
and <a href="https://github.com/ruby-ore/ore#readme">Ore</a>.
</p>
