<p>
Postmodern is a Software Engineer by day, Security Researcher by night.
</p>

<p>
<strong>languages:</strong>
<a href="http://ruby-lang.org">ruby</a>,
javascript,
C/C++,
ASM,
bash,
XSL/XML
<br/>

<strong>projects:</strong>
<a href="https://github.com/postmodern/chruby#readme">chruby</a>,
<a href="https://github.com/postmodern/ruby-install#readme">ruby-install</a>,
<a href="http://ronin-ruby.github.io/">ronin</a>,
<a href="https://github.com/postmodern/spidr#readme">spidr</a>,
<a href="https://github.com/sophsec/ruby-nmap#readme">ruby-nmap</a>,
<a href="https://github.com/postmodern/rubygems-tasks#readme">rubygems-tasks</a>,
<a href="https://github.com/ruby-ore/ore#readme">ore</a>
<br/>

<strong>tools:</strong>

<a href="http://padrinorb.com/">padrino</a>,
<a href="http://sinatrarb.com/">sinatra</a>,
<a href="http://datamapper.org/">datamapper</a>,
<a href="https://github.com/ffi/ffi#readme">ffi</a>,
<a href="https://yardoc.org/">yard</a>
</p>
