<nav id="top-menu" class="level is-mobile">
  <div class="level-right">
    <label id="dark-mode-switch" class="level-item slider-switch">
      <input id="dark-mode-checkbox" name="dark-mode-checkbox" type="checkbox" class="switch" checked="checked"/>
      <span class="slider"></span>
    </label>

    <a class="level-item" href="{{ site.postmodern.github }}">
      {% include icons/github.svg %}
    </a>

    <a class="level-item" href="{{ site.postmodern.twitter }}">
      {% include icons/twitter.svg %}
    </a>

    <a class="level-item" rel="me" href="https://ruby.social/@postmodern">
      {% include icons/mastodon.svg %}
    </a>

    <a class="level-item" rel="me" href="https://infosec.exchange/@postmodern">
      {% include icons/mastodon.svg %}
    </a>

    <a class="level-item" href="{{ site.postmodern.email }}">
      {% include icons/email.svg %}
    </a>
  </div>
</nav>
