<nav id="top-menu" class="navbar is-top-fixed">
  <div class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{{ site.postmodern.github }}">
        {% include icons/github.svg %}
      </a>

      <a class="navbar-item" href="{{ site.postmodern.twitter }}">
        {% include icons/twitter.svg %}
      </a>

      <a class="navbar-item" href="{{ site.postmodern.email }}">
        {% include icons/email.svg %}
      </a>
    </div>
  </div>
</nav>
