---
layout: page
title: /about
---

<section id="about">
  <table>
    <tr>
      <td>
        <strong>about:</strong>
      </td>

      <td>Software Engineer, Open Source Maintainer</td>
    </tr>

    <tr>
      <td>
        <strong>languages:</strong>
      </td>
      <td>
        <a href="https://ruby-lang.org">Ruby</a>,
        <a href="https://crystal-lang.org">Crystal</a>,
        Bash,
        C/C++,
        ASM,
        Java,
        JavaScript (ES6),
        CSS,
        XSL/XML
      </td>
    </tr>

    <tr>
      <td>
        <strong>projects:</strong>
      </td>
      <td>
        {% for project in site.projects %}
        {%   if project.website %}
        <a href="{{ project.website }}">{{ project.name }}</a>,
        {%   elsif project.github %}
        <a href="{{ project.github }}">{{ project.name }}</a>,
        {%   endif %}
        {% endfor %}
        <a href="https://github.com/postmodern">...</a>
      </td>
    </tr>
  </table>
</section>
