@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	color: black;
	background-color: white;
	font-family: monospace;
}

/* HACK: couldn't get the switch to vertically align... */
nav#top-menu .slider-switch {
	position: relative;
	top: 19%;
}

nav#top-menu .navbar-item:hover {
	filter: invert(100%);
}

header {
	display: flex;
	flex-direction: row;
	margin-top: 6em;
	margin-bottom: 6em;
	text-align: center;
}

header a {
	color: black;
	text-decoration: none;
}

@media only screen and (max-width: 1024px) {
	header img {
		width: 87vw;
	}

	main {
		min-width: 90vw;
	}

	main section.content {
		padding-left: 1em;
		padding-right: 1em;
	}
}

@media only screen and (min-width: 1024px) {
	header img {
		width: 47vw;
	}

	main {
		min-width: 50vw;
	}
}

main nav#menu {
	padding-top: 1em;
	padding-bottom: 1em;
	color: white;
	background-color: black;
}

main nav#menu span {
	padding-left: 1em;
}

main nav#menu span:hover {
	padding-left: 0;
}

main nav#menu span:hover::before {
	color: white;
	content: '>';
	width: 1em;
}

main nav#menu a {
	color: white;
	background-color: black;
	text-decoration: none;
}

main nav#menu span:hover a {
	color: black;
	background-color: white;
}

main section {
	margin-top: 1em;
	margin-bottom: 1em;
}

main section h1,
main section h2,
main section h3,
main section h4 {
	margin-top: 0;
	margin-bottom: 0.5em;
}

main h1:first-of-type {
	margin-top: 0;
	margin-bottom: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

main a {
	color: black;
	text-decoration: none;
}

main blockquote {
	padding: 1em;
	background-color: #c3c3c3;
	font-style: italic;
}

main pre {
	color: white;
	background-color: black;
	padding: 0.5em 1em;
	margin-bottom: 1em;
	overflow: auto;
}

main ul,ol {
	list-style: square;
}

main ul,ol > li {
	padding-left: 2em;
}

main a {
	font-weight: bold;
	text-decoration: underline;
}

main a:hover {
	color: white;
	background-color: black;
	text-decoration: none;
}

main div.note, div.warning {
	clear: right;
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em;
	border: 0.5em solid black;
}

main div.note {
	background-color: #a8ffa8;
}

main div.warning {
	background-color: #ffa8a8;
}

#blog-posts ul {
	padding: 0;
	list-style: none;
}

#blog-posts ul > li {
	list-style: none;
	padding-left: 1em;
}

#blog-posts ul > li:hover {
	padding-left: 0;
}

#blog-posts ul > li:hover::before {
	float: left;
	position: relative;
	content: '>';
	width: 1em;
	opacity: 1;
	font-weight: bolder;
}

#blog-post .subtitle {
	font-weight: normal;
}

footer.footer {
	clear: both;
	padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 25vw;
	padding-left: 25vw;
	color: gray;
	background-color: black;
	font-size: medium;
}

footer.footer div.columns {
	width: 50vw;
}

footer.footer div.columns > div.column > h5 {
	color: white;
	font-size: medium;
	font-weight: bold;
}

footer.footer a {
	color: gray;
}

@media print {
	a {
		color: black;
	}
}

/*
 * Slider Switch
 */
.slider-switch {
	display: inline-block;
	width: 4em;
	height: 2em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0.125em;
	border: 0.125em solid black;
}

.slider-switch > input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider-switch > .slider {
	cursor: pointer;
	margin: 0.125em;
	background-color: white;
}

.slider-switch > .slider::before {
	position: absolute;
	content: "";
	height: 1.5em;
	width: 1.5em;
}

.slider-switch > input:checked + .slider {
	background-color: white;
}

.slider-switch > input:checked + .slider:before {
	background-color: black;
	transform: translateX(26px);
}

/*
 * Dark Mode
 */

body.dark-mode {
	color: white;
	background-color: black;
}

body.dark-mode header img {
	filter: invert(100%);
}

body.dark-mode nav#top-menu .navbar-item {
	filter: invert(100%);
}

body.dark-mode nav#top-menu .navbar-item:hover {
	filter: none;
}

body.dark-mode nav#top-menu {
	background-color: black;
}

body.dark-mode .slider-switch {
	border: 0.125em solid white;
}

body.dark-mode .slider-switch > .slider {
	background-color: black;
}

body.dark-mode .slider-switch > .slider::before {
	background-color: white;
}

body.dark-mode header a {
	color: white;
}

body.dark-mode main nav#menu {
	color: black;
	background-color: white;
}

body.dark-mode main nav#menu span:hover::before {
	color: black;
}

body.dark-mode main nav#menu span a {
	color: black;
	background-color: white;
}

body.dark-mode main nav#menu span:hover a {
	color: white;
	background-color: black;
}

body.dark-mode main h1,
body.dark-mode main h2,
body.dark-mode main h3,
body.dark-mode main h4,
body.dark-mode main h5,
body.dark-mode main h6,
body.dark-mode main strong,
body.dark-mode main a {
	color: white;
}

body.dark-mode main a:hover {
	color: black;
	background-color: white;
}

body.dark-mode main pre {
	border: 0.125em solid white;
}

body.dark-mode div.note,
body.dark-mode div.warning {
	border: none;
}

body.dark-mode div.note,
body.dark-mode div.note h1,
body.dark-mode div.note h2,
body.dark-mode div.note h3,
body.dark-mode div.note h4,
body.dark-mode div.note h5,
body.dark-mode div.note a,
body.dark-mode div.warning,
body.dark-mode div.warning h1,
body.dark-mode div.warning h2,
body.dark-mode div.warning h3,
body.dark-mode div.warning h4,
body.dark-mode div.warning h5,
body.dark-mode div.warning a,
body.dark-mode blockquote,
body.dark-mode blockquote h1,
body.dark-mode blockquote h2,
body.dark-mode blockquote h3,
body.dark-mode blockquote h4,
body.dark-mode blockquote h5,
body.dark-mode blockquote a {
	color: black;
}
