@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	color: black;
	background-color: white;
	font-family: monospace;
}

header {
	display: flex;
	flex-direction: row;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
}

header h1 {
	text-decoration: bold;
	font-size: 10em;
	margin: 0;
}

header a {
	color: black;
	text-decoration: none;
}

main {
	min-width: 50vw;
}

main nav.navbar {
	min-width: 50vw;
	color: white;
	background-color: black;
}

main nav.navbar .navbar-item {
	padding-left: 1em;
}

main nav.navbar .navbar-item:hover {
	padding-left: 0;
}

main nav.navbar .navbar-item:hover::before {
	color: white;
	content: '>';
	width: 1em;
}

main nav.navbar .navbar-item a {
	color: white;
	background-color: black;
	text-decoration: none;
}

main nav.navbar .navbar-item:hover a {
	color: black;
	background-color: white;
}

main section {
	margin-top: 1em;
	margin-bottom: 1em;
}

main section h1,h2,h3,h4 {
	margin-top: 0;
	margin-bottom: 0.5em;
}

main h1:first-of-type {
	margin-top: 0;
	margin-bottom: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

main a {
	color: black;
	text-decoration: none;
}

main blockquote {
	padding: 1em;
	background-color: #c3c3c3;
	font-style: italic;
}

main pre {
	color: white;
	background-color: black;
	padding: 0.5em 1em;
	overflow: auto;
}

main ul,ol {
	list-style: square;
}

main ul,ol > li {
	padding-left: 2em;
}

main a {
	font-weight: bold;
	text-decoration: underline;
}

main a:hover {
	color: white;
	background-color: black;
	text-decoration: none;
}

main div.note, div.warning {
	clear: right;
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em;
	border: 10px solid black;
}

main div.note {
	background-color: #a8ffa8;
}

main div.warning {
	background-color: #ffa8a8;
}

#blog-posts ul {
	padding: 0;
	list-style: none;
}

#blog-posts ul > li {
	list-style: none;
	padding-left: 1em;
}

#blog-posts ul > li:hover {
	padding-left: 0;
}

#blog-posts ul > li:hover::before {
	float: left;
	position: relative;
	content: '>';
	width: 1em;
	opacity: 1;
	font-weight: bolder;
}

#blog-post .subtitle {
	font-weight: normal;
}

footer.footer {
	clear: both;
	padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 25vw;
	padding-left: 25vw;
	color: gray;
	background-color: black;
	font-size: x-small;
}

footer.footer div.columns {
	width: 50vw;
}

footer.footer div.columns > div.column > h5 {
	color: white;
	font-size: x-small;
	font-weight: bold;
}

footer.footer a {
	color: gray;
}

footer.footer svg {
	display: inline-block;
	vertical-align: middle;
	filter: invert(100%);
}

@media print {
	a {
		color: black;
	}
}
