<!Doctype html>
<html lang="en">
  <head>
    {% if page.title != null %}
    <title>postmodern - {{ page.title | downcase }}</title>
    {% else %}
    <title>postmodern</title>
    {% endif %}
    <meta name="Author" content="postmodern" />
    <meta name="charset" content="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="alternate" type="application/atom+xml" title="Blog Feed" href="/atom.xml" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/default.css"/>
    {% if page.stylesheets != null %}
    {% for name in page.stylesheets %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/{{ name }}.css" />
    {% endfor %}
    {% endif %}
    <script type="text/javascript" src="/javascripts/default.js"></script>
    {% if page.javascript != null %}
    {% for name in page.javascript %}
    <script type="text/javascript" src="/javascripts/{{ name }}.js"></script>
    {% endfor %}
    {% endif %}

    {% include analytics.html %}
  </head>

  <body>
    {% include top-menu.html %}
    {{ content }}
  </body>
</html>
