<!Doctype html>
<html lang="en">
  <head>
    {% if page.title != null %}
    <title>postmodern - {{ page.title | downcase }}</title>
    {% else %}
    <title>postmodern</title>
    {% endif %}
    <meta name="Author" value="postmodern">
    <meta name="charset" value="utf-8">

    <link rel="alternate" type="application/atom+xml" title="Blog Feed" href="/atom.xml" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/default.css"/>
    {% if page.stylesheets != null %}
    {% for name in page.stylesheets %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/{{ name }}.css" />
    {% endfor %}
    {% endif %}
    <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/default.js"></script>
    {% if page.javascript != null %}
    {% for name in page.javascript %}
    <script type="text/javascript" src="/javascripts/{{ name }}.js"></script>
    {% endfor %}
    {% endif %}

    {% include analytics.html %}
  </head>

  <body>
  {{ content }}
  </body>
</html>
