---
layout: page
---

<div id="blog-post">
  <h1 class="title">{{ page.title }}</h1>

  <h5 class="subtitle">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
      {{ page.date | date: "%Y-%m-%d" }}
    </time>
    {% if page.tags != null %}
    &mdash;
      {% assign tags = page.tags | sort %}
      {% for tag in tags %}
        <a href="/blog/tags#tag-{{ tag }}">{{ tag }}</a>{% if forloop.last == false %},{% endif  %}
      {% endfor %}
    {% endif %}
  </h5>

  <section id="content">
  {{ content }}
  </section>
</div>
